@*@using DayPilot.Web.Mvc.Enums
    @using DayPilot.Web.Mvc.Enums.Month
    @using DayPilot.Web.Mvc.Events.Month
    @using DayPilot.Web.Mvc.Themes.Month*@


@{
    ViewBag.Title = "Eventos | Index";
}

@section styles{
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
}

<h2>Index</h2>

<div id="calendar"></div>

@section scripts{
    <script src="~/scripts/jquery-1.11.3.min.js"></script>
    <script src="~/scripts/moment.min.js"></script>
    <script src="~/scripts/fullcalendar.min.js"></script>

    <script type="text/javascript">
        // <![CDATA[
        $(document).ready(function () {
            $("#calendar").fullCalendar({
                theme: true,

                //defaultView: "agendaDay",
                //editable: false,
                events: "/eventos/getevents/"
            });
        });

        // ]]></script>
}

@*    [implementação de um calendário semanal]*@
@*@Html.DayPilotCalendar("dpc", new DayPilotCalendarConfig
    {
        BackendUrl = Url.Action("Backend"),
        ViewType = DayPilot.Web.Mvc.Enums.Calendar.ViewType.Week,
        EventMoveHandling = DayPilot.Web.Mvc.Events.Calendar.EventMoveHandlingType.CallBack,
        EventResizeHandling = DayPilot.Web.Mvc.Events.Calendar.EventResizeHandlingType.CallBack,
        TimeRangeSelectedHandling = DayPilot.Web.Mvc.Events.Calendar.TimeRangeSelectedHandlingType.JavaScript,
        TimeRangeSelectedJavaScript = "dpc.timeRangeSelectedCallBack(start, end, null, { name: prompt('New Event Name:', 'New Event') });"
    })*@

@*
    [implementação calendário - pago]
    @Html.DayPilotMenu("menu", new DayPilotMenuConfig
    {
        Items = new DayPilot.Web.Mvc.MenuItemCollection
        {
            new DayPilot.Web.Mvc.MenuItem { Text = "Open", Action = MenuItemAction.JavaScript, JavaScript = "alert(e.value());"},
            new DayPilot.Web.Mvc.MenuItem { Text = "-"},
            new DayPilot.Web.Mvc.MenuItem { Text = "Delete", Action = MenuItemAction.CallBack, Command = "Delete"}
        }
    })


    @Html.DayPilotMonth("dpm", new DayPilotMonthConfig()
    {
        BackendUrl = Url.Action("Backend"),
        EventMoveHandling = EventMoveHandlingType.CallBack,
        EventResizeHandling = EventResizeHandlingType.CallBack,
        TimeRangeSelectedHandling = TimeRangeSelectedHandlingType.CallBack,

        ContextMenu = "menu"
    })*@